

#gotcha-wrapper {
    position: fixed;
    display: flex;
    height: fit-content;
    width: fit-content;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    border-width: 5px;
    background-color: white;
    padding: 10px;
    align-items: center;

}

#gotcha-button {
    position: absolute;
    margin: auto;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    border-style: solid;
    border-color: lightslategray;
    cursor: pointer;
    transition: border-width .1ms linear;
}

#gotcha-button:hover {
    border-width: 1px;
}

#gotcha-text {
    position: absolute;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#popup {
    width: 350px;
    height: 530px;
    margin-left: 80px;
    position: absolute;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: gray;
    border-radius: 5px;
    transition: border-color .2s cubic-bezier(0.33, 1, 0.68, 1);
    visibility: hidden
}

#popup-banner {
    background-color: dodgerblue;
    margin: 3px;
    width: auto;
    height: 80px;
    padding: 12px;
}

#question, #object {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px;
}



#object {
    font-size: 20pt;
}

.image-choice {
    width: 110px;
    height: auto;
    cursor: pointer;
    outline: 0px solid dodgerblue;
    outline-offset: -7px;
    transition: outline-width .2s cubic-bezier(0.33, 1, 0.68, 1);
}

#image-matrix {
    /* background-color: blue; */
    margin: auto;
    width: 350px;
    height: 350px;
}

#next-button {
    position: absolute;
    margin: 10px;
    background-color: dodgerblue;
    width: 100px;
    height:45px;
    border-style: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    right: 0;
    cursor: pointer;
    font-size: 12pt;
}

#next-button:hover {
    background-color: rgb(18, 114, 211);
}

#wrong-text {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: lightcoral;
    margin-left: 10px;
    margin-top: 20px;
    visibility: hidden;
}

.not-selectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}