@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
/* font-family: 'Inconsolata', monospace; */
/* font-family: 'Poppins', sans-serif; */

:root {
    --background-color: #fcf5c7;
    --accent-color: #383838;
    --shadow-color: #3838383D
}

html {
    background-color: var(--background-color);
}
body {
    margin: 0;
}

#top-bar {
    z-index: 2;
    padding: 10px;
    top: 0;
    position: fixed;
}   

#top-bar > button {
    font-size: large;
}

#menu {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

#menu-container {
    z-index: 1;
    background-color: transparent;
    width: 100%;
    height: 100%;
    position:fixed;
    display: none;
    transition: background-color 0.3s linear;
}

#menu-bar {
    margin: 0;
    position:absolute;
    background-color: var(--background-color);
    z-index: 1;
    left: 0;
    height: 100%;
    /* width: 20em; */
    align-items: center;
    transform: translate(-100%);
    transition: transform 0.3s ease-in-out;
}

#link-container {
    margin: 20% 20% 20% 5%;
}

#link-container > a {
    font-size: 35px;
    display: block;
    color: var(--accent-color);
    background: none;
    filter: none;
    text-decoration: none;
}

#link-container > a:hover {
    text-decoration: underline 5px;
}

#content, footer {
    width: 95vmin;
    height: 100%;
    margin: auto;   
}

footer > p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 11pt;
}

.title {
    font-size: 35pt;
    padding-top: 90px;
    padding-bottom: 35px;
    margin: auto;
    background: none;
    filter: none;
    color: var(--accent-color);
}

hr {
    border: dashed;
    border-width: 3px;
    border-color: var(--accent-color);
}

button, a {
    font-family: 'Poppins', sans-serif;
    background-color: var(--accent-color);
    color: var(--background-color);
    border: none;
    padding: 3px;
    text-decoration: none;
    font-size: large;
    filter: drop-shadow(3px 3px 0px var(--shadow-color));
    transition: transform 0.08s ease-out;
}

button:hover {
    transform: translate(0px, 1px);
    cursor: pointer;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    background-color: var(--accent-color);
    color: var(--background-color);
    border: none;
    filter: drop-shadow(3px 3px 0px var(--shadow-color));
    padding: 3px;
    text-align: center;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    color: var(--accent-color);
    border: none;
    padding: 3px;
    text-decoration: underline 3px;
}

p, ul {
    font-size: larger;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Inconsolata', monospace;
    line-height: 20pt;
    color: var(--accent-color);
}

img {
    display: block;
    margin: auto;
    height: auto;
    max-width: 70%;
    filter: drop-shadow(3px 3px 0px var(--shadow-color));
}

.img-caption {
    margin: auto;
    max-width: 70%;
    background-color: var(--accent-color);
    filter: drop-shadow(3px 3px 0px var(--shadow-color));
    
}
.img-caption > img {
    display: block;
    margin: auto;
    height: auto;
    max-width: 100%;
    filter: none;

}
.img-caption > p {
    color: var(--background-color);
    margin: 0;
    padding: 5px;
}
