html {
    background-color: black;
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
    color:  whitesmoke;
}

h1, .title {
    font-size: 35px;
    transition: font-size 0.3s cubic-bezier(0.22, 1, 0.36, 1);
    display: inline;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
.title {
    cursor: pointer;
}

#tester {
    color: #37db06;
    font-size: 14px;
    transition: color 0.3s, font-size 0.3s;
    display: inline;
}

#tester:hover {
    color:brown;
    font-size: 20px;
}


.title:hover {
    font-size: 40px;
    /* width: 155%; */
}
body {
    /* padding: 0 20px 20px 20px; */
    /* border: 5px solid #383838; */
  }

.showcaseImage {
    transition: opacity .2s, transform 0.3s cubic-bezier(0.45, 0, 0.55, 1) ;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3vh;
    margin-top: 3vh;
    box-shadow: 10px 10px #383838;
    width: 60vmin;
}

 img:hover {
    /* width: 32vw ; */
    transform: scale(1.09);
 } 

button {
    background-color: #636363; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.2s cubic-bezier(0.45, 0, 0.55, 1);
    font-family: 'Source Code Pro';
    cursor: pointer;
}

button:hover, .pageNav:hover {
    background-color:rgb(119, 119, 119);
}

.center {
    display: flex;
    justify-content: center;
}
