html {
    background-color: white;
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
    color:  whitesmoke;
}

h1 {
    font-size: 35px;
    transition: font-size 0.3s;
    display: inline;
}

#tester {
    color: #37db06;
    font-size: 14px;
    transition: color 0.3s, font-size 0.3s;
    display: inline;
}

#tester:hover {
    color:brown;
    font-size: 20px;
}


h1:hover {
    font-size: 40px;
    /* width: 155%; */
}
body {
    width: 1000px;
    margin: 0 auto;
    background-color: black;
    padding: 0 20px 20px 20px;
    border: 5px solid #383838;
  }

img {
    display: block;
    margin: 0 auto;
    box-shadow: 10px 10px #383838;
    width: 50%;
    transition: width 0.5s;
}

 img:hover {
    width: 55% ;
 } 

button, #pageNav {
    background-color: #636363; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.2s;
    font-family: 'Source Code Pro';
    cursor: pointer;
}

button:hover, #pageNav:hover {
    background-color:rgb(119, 119, 119);
}